{% extends "base.html" %} {% block content %}

<div data-role="page">
        <div role="main" class="ui-content">
            <div class="ui-grid-a">
            
                <div class="ui-block-a" style="text-align:center">
                    <table class="center">
                      <tr>
                        <td class="celda"><button class="boton_numero">1</button>  </td>
                        <td><button class="boton_numero">2</button></td> 
                        <td><button class="boton_numero">3</button></td>
                      </tr>
                      <tr>
                        <td><button class="boton_numero">4</button></td>
                        <td><button class="boton_numero">5</button></td> 
                        <td><button class="boton_numero">6</button></td>
                      </tr>
                      <tr>
                        <td><button class="boton_numero">7</button></td>
                        <td><button class="boton_numero">8</button></td> 
                        <td><button class="boton_numero">9</button></td>
                      </tr>
                      <tr>
                        <td><button class="boton_numero">#</button></td>
                        <td><button class="boton_numero">0</button></td> 
                        <td><button class="boton_numero">*</button></td>
                      </tr>
</table>
<button class="boton_borrar">BORRAR</button>
                   
                </div>
            
                <div id="content" class="ui-block-b" style="text-align:center">

                    <form style="margin:5vh 5vw 0 5vw" action="/auth/" method="post">
                        <label class="t1" for="username" style="margin: 6vh 0;">USUARIO</label>
                        <input class="textbox" type="text" name="username" value="" id="username-textfield">
                        <label class="t1" for="password"  style="margin: 6vh 0;">CONTRASE&#209;A</label>
                        <input class="textbox" type="password" name="password" value="" id="password">
        
                        <button class="boton_aceptar">ENTRAR</button>    
                        <p>
                        <!-- Etiqueta para mensajes de error -->
                        <label></label>
                        </p>
                    </form>
                </div>
            </div>
            <!-- /grid-a -->
        </div>
    </div>

{% endblock %}